.flex-content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    background-color: #F5FBFF;
}



.menu {
    width: 80%;
    margin: 15px;
    /* display: flex; */
    /* flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around; */
    position: relative;
}

.menu-drink {
    display: flex;
    justify-content: space-between;

}

.drink-type {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    padding-top: 25px;
    width: 25%;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    height: 100px;
    /* border-radius: 15px; */

}

.flex-box {
    display: flex;
    /* border: solid red; */
    justify-content: space-around;
    width: 100%;

}

.ice-hot {
    display: flex;
    justify-content: space-evenly;
    /* border: solid; */
    width: 50%;
}

.icehot-box {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    text-align: center;
    padding-top: 25px;
    min-width: 50%;
    height: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}

.product-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.product-flex {
    display: flex;
    width: 26%;
    margin: 5px;
}

.product-box {
    cursor: pointer;
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
    height: 80px;
    list-style-type: none;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;

}

.product-box:hover {
    /* color: #ffee10;
        box-shadow: 0 0 5px #ffee10;
        text-shadow: 0 0 5px #ffee10; */
    border-radius: 20px;
}


.exit-box {
    cursor: pointer;
    min-width: 30%;
    padding: 25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #E4CCFF;
}

.closeSales-box {
    cursor: pointer;
    min-width: 25%;
    height: 70px;
    padding: 15px;
    text-align: center;
    right: 0;
    bottom: 140px;
    position: absolute;
    background-color: #FFFBB9;


}


/* Orders.js page*/

.orders {
    margin: 15px;
    background-color: #FFFFFF;
    width: 20%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-order {
    position: relative;
    height: 70%;
}

.bg-order {
    border-radius: 10px;
    width: 90%;
    height: 80%;
    background-color: #FFE8A3;
    position: absolute;
    left: 50%;
    top: 50%;
    /* จัดให้อยู่ตรงกลางแนวนอน */
    transform: translate(-50%, -40%);
    /* ขยับให้อยู่ตรงกลาง */
}

.order-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}


.order-box::-webkit-scrollbar {
    display: none;
}

.order-flex {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* ใช้ grid ในการจัดแบ่งคอลัมน์ */
    align-items: center;
    text-align: center;
    padding-left: 20px;
    gap: 10px;
    /* ระยะห่างระหว่างคอลัมน์ */
    margin-top: 20px;
    cursor: pointer;
    /* เพิ่ม cursor ให้แสดงว่าคลิกได้ */
}

.order-flex.selected {
    border: 2px solid #007BFF;
    /* ใช้ border เพื่อเน้นว่ารายการถูกเลือก */
    background-color: #E3F2FD;
    /* เพิ่มสีพื้นหลังเพื่อเน้น */
    padding-top: 10px;
}


.item-box {
    text-align: left;
    /* ปรับให้ตัวอักษรชิดซ้าย */
    justify-content: center;
    padding-left: 10px;
    cursor: pointer;
}



.subtotal,
.total,
.cash,
.change {
    position: absolute;
    padding: 5px 10px;
    text-align: start;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    bottom: 30%;

}

.total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    bottom: 20%;


}

.cash {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    bottom: 10%;

}

.change {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    bottom: 0%;

}


.order-bottom {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
}

.delete {
    background-color: #9747FF;
    color: #FFFFFF;
    width: 50%;
    height: 50%;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border: none;
    font-size: 30px;
}

.delete-all {
    background-color: #B6F7F7;
    width: 50%;
    color: #aba8a8;
    height: 50%;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    font-size: 23px;
}

.payment {
    cursor: pointer;
    background-color: #E4CCFF;
    color: #2d2c2c;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    top: 0;
    text-align: center;
    align-content: center;
    border: none;
    font-size: 25px;
}

/* Another page   */
.btn-member {
    position: absolute;
    border: none;
    background-color: #E4CCFF;
    width: 20%;
    height: 8%;
    right: 0;
    top: 150px;
}

.memberLink {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.memberName {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    bottom: -10%;

}

.currentPoints {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    bottom: -15%;

}

.getPoints {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    bottom: -20%;
}