.contentDashboard {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.bgDashboard {

    background-color: #F5F7FF;
    height: 100vh
}

.flexCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.flexChart {
    display: flex;
    /* border: solid ; */
    /* height: 65vh; */
    align-items: stretch;
    justify-content: space-around;
}

.border {
    /* border: solid black; */

}

.chartPopularChart {

    margin: 20px;
    width: 30%;
    /* height: 80%; */
    /* border: solid; */
}


.cardSalesChart {
    margin: 20px;
    width: 70%;
    /* border: solid; */
    height: 80%;
}