.bgReprint {
    height: 100vh;
    background-color: #F5F7FF;
}

.contentReprint {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    /* เพิ่มความสูงเต็มที่ */

}

.topReprintContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
}

.centerReprintContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.centerReprintBox {
    padding: 5px;
    padding-right: 10px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.boxCalendar {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.bottomReprintContent {
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex: 1;
    overflow: hidden;
    justify-content: center;
}

.lefboxReprintContent {
    border: solid;
    background-color: white;
    /* flex: 1; */
    width: 20%;
    min-height: 600px;
    max-height: 600px;
    padding: 10px;
    overflow-y: auto;
}

.selectId {
    padding: 10px;
    cursor: pointer;
}

.selectId.selected {
    border: solid blue;
}

.boxReprintContent {
    border: solid;
    padding: 10px;
    width: 60%;
    min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
    background-color: #fff;
}

.boxReprintContent::-webkit-scrollbar,
.lefboxReprintContent::-webkit-scrollbar {
    width: 12px;
}

.boxReprintContent::-webkit-scrollbar-thumb,
.lefboxReprintContent::-webkit-scrollbar-thumb {
    background-color: rgb(190, 188, 188);
    border-radius: 10px;
}

.boxReprintContent::-webkit-scrollbar-track,
.lefboxReprintContent::-webkit-scrollbar-track {
    background: #f1f1f1;
}


.orderList {
    width: 60%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    /* กำหนดคอลัมน์ */
    padding: 5px;
    justify-items: start;
    /* จัดเรียงเนื้อหาซ้าย */
    text-align: left;
    /* เปลี่ยนให้เป็น left เพื่อให้ดูเรียบร้อย */
}

.orderList div {
    text-align: right;
    /* จัดข้อความให้ชิดขวาสำหรับคอลัมน์ที่มีจำนวนเงิน */
}

.orderList div:nth-child(4) {
    /* ทำให้จำนวนเงินแสดงในฟอร์แมตที่ต้องการ */
    padding-left: 10px;
    /* เพิ่มช่องว่างระหว่างคอลัมน์ */
}


.ordertotal {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    justify-content: space-between;
    justify-items: stretch;
    align-items: center;
    text-align: center;
}

.orderPoints {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.nodata {
    display: flex;
    height: 75vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}