.box-table {
    margin: 15px;
}

.btn-add {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.btn-item {
    margin: 0 5px;
    min-width: 70px;
}

.table {
    width: 80%;
    margin: auto;
    overflow-x: auto;
    height: 650px;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table th:nth-child(1),
.table td:nth-child(1) {
    width: 5%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 10%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 15%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 10%;
}

.table th:nth-child(5),
.table td:nth-child(5) {
    width: 10%;
}

.table th:nth-child(6),
.table td:nth-child(6) {
    width: 15%;
}

.table th:nth-child(7),
.table td:nth-child(7) {
    width: 15%;
}


.bntEdit {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #ffffff;
    margin: 0 5px;
    min-width: 70px;
}

.bntEdit:hover {
    background-color: #f8d15e !important;

}