.content-order,
.type-menu,
.ice-hot,
.main-content {
    border: 1px solid;
    box-sizing: border-box;

}

.container>div {
    display: flex;
    /* flex-flow: row wrap; */
    align-items: stretch;
    width: 100%;



}

.content-order {
    height: 90vh;
    margin: 30px;
    width: 500px;
    padding: 20px;
    padding-top: 1px;
}

.type-menu {
    margin: 30px;
    width: calc(100% - (100px + 60px))
}

.content-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.left-content {
    display: block;
    margin: 30px;
    height: auto;
    padding: 10px;
    column-count: 3;
    border: solid red;

}
.item{

    display: inline-block;
    width: 200px;
    border: solid red;
    height: 50px;
    text-align: center;
}