.flex-content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    border: solid red;
}

.orders {
    margin: 15px;
    border: solid;
    width: 30%;
}

.menu {
    border: solid blue;
    width: 70%;
    margin: 15px;

}