.contentLogin {
  display: flex;
  flex-direction: row;
}

.leftContent {
  display: flex;
  align-content: center;
  justify-content: center;
  border: solid;
  width: 70%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rightContent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}