.box-table {
    margin: 15px;
}

.btn-add {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.btn-item {
    margin: 0 5px;
    min-width: 70px;
}

.tableOwner {
    width: 100%; /* ลดความกว้างของตารางจาก 100% เป็น 80% */
    margin: auto; /* จัดตารางให้อยู่กลาง */
    overflow-x: auto; /* ทำให้ตารางสามารถเลื่อนในแนวนอนได้ */
}

